.todo-input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: none;
    background-color: #F3F3F3;
    margin-top: 15px;
    font-size: 20px;
    /*
    appearance: none;
    outline: none;*/
}

.add-button {
    display: block;
	width: 100%;
	max-width: 200px;
	border: none;
    border-radius: 4px;
    /*
	outline: none;
    appearance: none;
    */
	background: none;
    cursor: pointer; 
	background-color:#2d19e9;
	color: #FFF;
	margin: 15px auto;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
}

.add-button:hover {
    background-color: #5949eb;
}

.todo-items {
    display: flex;
    /*width: 100%;*/
	padding: 10px 0px;
}

.todo-items ul {
    flex: 1 1 100%;
    list-style-type: none;
}

.todo-item {
   display: flex;
   align-items: center;
   margin-bottom: 2px;
   gap: 166px;
}

.search-results {
  display: inline-block;
  padding: 4px 8px;
  margin-top: 5px;
  background-color: #629cdf;
  color: #ffffff;
  border-radius: 4px;
}

.search-item {
    text-align: center;
    margin-top: 5px;
}


.todo-item .todo-title {
    flex-grow: 1;
  }

/*.todo-item .button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}*/

.todo-item .delete-button,
.todo-item .mark-complete-button {
   margin-left: 10px;
}

.todo-item .mark-complete-button {
    margin-right: 2px;
  }

.todo-item:nth-child(even) {
	background-color: #EEE;
}


.delete-button {
    background-color: firebrick;
    border: none; 
    border-radius: 4px;
    color: white; 
    padding: 8px 16px;
    font-size: 16px; 
    cursor: pointer; 
}

.delete-button:hover {
    background-color: indianred;
}

.fa.fa-trash, .fa-square, .fa-check-square {
    align-items: center;
  }


.mark-complete-button {
    background-color: DarkGreen;
    border: none; 
    border-radius: 4px;
    color: white; 
    padding: 8px 16px;
    font-size: 16px; 
    cursor: pointer; 
}

.mark-complete-button:hover {
    background-color: ForestGreen;
}

.centered-p-incomplete, .centered-p-search {
    text-align: center;
}
.count-incomplete-items {
  display: inline-block;
  padding: 4px 8px;
  background-color: #df6a62;
  color: #ffffff;
  border-radius: 4px;
}



 /***********************Media Queries********************************/ 


@media screen and (max-width: 420px) {
    .todo-item {
        gap: 0px;
    }
}

 /*For small screens & laptops*/
@media screen and (min-width: 769px) {
    .todo-title, .add-button, .todo-input, .count-incomplete-items, .search-results {
        font-size: 22px;
    }

    .delete-button, .mark-complete-button {
        padding: 11px 22px;
    }
}

 /*For desktops*/
@media screen and (min-width: 1200px) {
    .todo-title, .add-button, .todo-input, .count-incomplete-items, .search-results {
        font-size: 28px;
    }

    .delete-button, .mark-complete-button {
        padding: 14px 28px;
    }

}