<div class="todos">
  <form>
    <input type="text" name="inputTodo" class="todo-input" [(ngModel)]="text" placeholder="Enter todo..."/>
  </form>
  <button class="add-button" (click)="addTodoItem()">Add Todo</button>
  <form>
    <input type="text" name="searchInput" class="todo-input" [(ngModel)]="searchTerm" placeholder="Search..."/>
  </form>
  <button class="add-button" (click)="fetchSearchedItems()">Search</button>
    <div class="todo-items">
      <ul>
        <li class="todo-item" *ngFor="let todoItem of todoItems">
          <span class="todo-title">{{ todoItem.title }}</span> 
          <div class="button-container">
            <button class="delete-button" (click)="deleteTodoItem(todoItem.id)"><i class="fa fa-trash"></i></button>
            <button class="mark-complete-button" (click)="markTodoItemComplete(todoItem)"><i class="far" [ngClass]="{'fa-square': !todoItem.completed, 'fa-check-square': todoItem.completed}"></i></button>
          </div>
        </li>
      </ul>
    </div>
    <div class="pagination">
     <button class="pagination-button" (click)="goToPage(currentPage - 1)">Prev</button>
     <button class="pagination-button" (click)="goToPage(currentPage + 1)">Next</button>
    </div>
    <div class="centered-p-incomplete">
      <p class="count-incomplete-items">Incomplete Items: {{ countIncompleteItems(todoItems) }}</p>
    </div>
    <div class="todo-items">
      <ul>
        <div class="centered-p-search">
          <p class="search-results">Search results:</p>
        </div>
        <li class="search-item" *ngFor="let searchItem of searchItems">
          <span class="todo-title">{{ searchItem.title }}</span>
        </li>
      </ul>
    </div>
</div>

